/** Planos **/
.planos {
  background: #1e2c35;
}

.planos h2 {
  color: #fff;
}

.plano {
  background: white;
  width: 18 * $tamanho-da-fonte-padrao;
  display: inline-block;
  margin: 1em 0 0 1.4em;
  padding-bottom: 2em;
}

.plano:hover {
  background: #dedede;
}

.plano h3 {
  color: #fff;
  font-size: 1.8em;
  background: #66dddd;
  text-align: center;
  height: 2em;
  padding-top: 0.6em;
  margin-top: 0;
}

.plano div {
  text-align: center;
  color: #66dddd;
  font-size: 2.75em;
}

.itens-plano {
  padding-left: 1.2em;
}

.itens-plano li {
  font-size: 1em;
  list-style: none;
  border-bottom: 1px solid #acacac;
  padding: 0.5em;
  width: 14.8em;
}

.itens-plano li:last-child {
  border: 0;
}

.itens-plano span {
  float: right;
}

.plano button {
  background: #66dddd;
  border: 0;
  color: #fff;
  width: 210px;
  height: 38px;
  font-size: 1.2em;
  @include border-radius(10px);
  @include box-shadow(black 0 2px 10px);
  margin-left: 2em;
}
@include all-sprite-sprites;

.sprite-icone-check,
.sprite-icone-x {
  width: 18px;
  height: 18px;
}
